@page
@model inventory.Pages.ClaimsModel

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-striped">
            @if (HttpContext.User.Identity.IsAuthenticated)
            {
                foreach (var c in Model.UserClaims)
                {
                    <tr>
                        <td>@c.Type</td>
                        <td>@(c.Value.Length > 100 ? c.Value.Substring(0, 100) : c.Value)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Current Status</td>
                    <td><strong>Not Authenticated</strong></td>
                </tr>
            }
        </table>
    </div>
</div>